* {
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 0, 128);
    margin-bottom: 10px;
    width: 100%;
    color: white;
    box-shadow: rgba(70, 2, 46, 0.35) 0px 5px 15px;
}

.game-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(255, 123, 0), red, rgb(255, 0, 149));
    color: white;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
    box-shadow: rgba(70, 2, 46, 0.35) 0px 5px 15px;
}

.btn-box {
    display: flex;
    width: 100%;
    height: 3rem;
    padding: 10px;
    justify-content: center;
}

.btn {
    background-color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 7rem;
    height: 3rem;
    font-size: large;
    transition: width 200ms, height 200ms;
}

.btn:hover {
    width: 7.5rem;
    height: 3.5rem;
    box-shadow: rgba(70, 2, 46, 0.35) 0px 5px 15px;
}



.tic-tac-toe {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    height: 100%;
    width: 80%;
    overflow: auto;
    margin: 10px;
    padding: 5px;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.tic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25%;
    width: 25%;
    color: black;
    margin: 5px;
}

.tic-box:hover {
    background-color: rgba(194, 3, 92, 0.408);
}

#begin {
    padding: 10px;
    margin: 0px;
    color: black
}

.move {
    color: pink;
}

#reset-btn {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    height: 20%;
    width: 40%;
    font-size: large;
}

#reset-btn:hover {
    background-color: rgba(194, 3, 92, 0.408);
}

.winner {
    background-color: rgba(255, 0, 149, 0);
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 0px;
}